.header {
  /* grid-row: 1; */
  /* grid-column: span start / end; */
  background-color: #0B1013;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}

.header ul {
  display: inline-block;
  list-style: none;
}

.header ul li {
  display: inline-block;
  margin: 0 32px;
  line-height: 32px;
  font-size: 20px;
  cursor: pointer;
}

.header ul li:hover {
  color: #FFB33C;
}

.header-item {
  color: #DFE0DF;
}

.header-item-active {
  color: #FFB33C;
}

.header-item-disabled {
  color: #C2C3C3;
  pointer-events: none;
}

.demo-guideline {
  color: #DFE0DF;
  text-decoration: none;
  cursor: pointer;
  margin-right: 12px;
}

.wallet-address {
  padding: 4px;
  background-color: #FFB33C;
  border-radius: 20px;
  color: #0B1013;
  margin-right: 12px;
}