.search-input {
  border: 0;
  border-bottom: 1px solid #8E9091;
  background-color: #32373A;
  color: inherit;
  outline: none;
  padding-left: 28px;
  width: 100%;
}

.search-icon {
  position: absolute;
  top: -9px;
  left: 4px;
  z-index: 1;
  width: 16px;
  fill: #8E9091;
}