/* .search-input {
  border: 0;
  border-bottom: 1px solid #8E9091;
  background-color: #32373A;
  color: inherit;
  outline: none;
  padding-left: 28px;
  width: 40%;
  min-height: 26px;
}

.search-icon {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 16px;
  height: auto;
  fill: #8E9091;
} */