.container-transfer {
  background-color: #B3B3B3;
}

.container-transfer-inner {
  background-color: #4D4D4D;
  color: #C2C3C3;
  border-radius: 12px 12px 0 0;
  margin: 12px;
  display: flex;
  overflow-y: auto;
  padding: 4px;
}

.container-balances {
  border-right: 1px solid #C2C3C3;
  flex: 1.5;
}

.container-transfer-form {
  color: #4D4D4D;
  background-color: #B3B3B3;
  border-radius: 0 12px 12px 0;
  margin: 8px 8px 8px 14px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 300;
}

.question-mark {
  margin-left: 4px;
  margin-top: -2px;
  border-radius: 12px;
  background-color: #B3B3B3;
  color: #4D4D4D;
  font-size: 10px;
  width: 12px;
  text-align: center;
  display: inline-block;
}

.transfer-table th {
  font-size: 14px;
  width: 16%;
  cursor: pointer;
}

.transfer-table td {
  font-size: 14px;
  width: 16%;
}

.funds h1 {
  font-weight: 300;
  padding-left: 16px;
  margin: 8px;
}

.transfer-asset-select {
  padding: 2px 10px;
  background-color: #999999;
  border-radius: 16px;
  outline: none;
  font-size: 20px;
}

.container-balances .transfer-asset-select {
  margin: 20px 0 30px 40px;
}

.transfer-selects .transfer-asset-select {
  background-color: #B3B3B3;
  width: 40%;
}

.selects-labels {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.selects-labels span {
  width: 40%;
  text-align: center;
  margin: 4px;
  font-weight: 300;
}

.transfer-selects {
  background-color: #666;
  border-radius: 18px;
  padding: 4px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.transfer-details {
  width: 87%;
}

.transfer-details div {
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transfer-details div div:first-child {
  margin-right: auto;
}

.transfer-details input {
  background-color: #B3B3B3;
  border: 1px solid #4D4D4D;
  outline: none;
  padding: 4px;
}

.transfer-details span {
  font-size: 12px;
  font-style: italic;
  margin-right: 8px;
}

.transfer-button {
  width: 90%;
  text-align: right;
  margin: 10px 0;
}

.transfer-button button {
  border: none;
  border-radius: 18px;
  background-color: #FBB03B;
  color: #333;
  padding: 6px 28px;
  font-size: 16px;
  outline: none;
}

.balances-details {
  margin: 20px 0 30px 50px;
  font-size: 18px;
}

.balances-details div {
  margin-bottom: 4px;
}

.balances-details div:first-child {
  margin-bottom: 10px;
}

.wallet-address span:first-child {
  color: #FBB03B;
  font-size: 20px;
}
.wallet-address span:last-child {
  font-size: 18px;
  font-weight: 300;
}

.form-amount-error {
  text-align: right;
  color: red;
  font-size: 10px;
  margin-left: auto;
  margin-right: 8px;
}