.cancel-button {
  color: #454849;
  background: #8E9091;
  border-radius: 4px;
  border: 0;
  outline: none;
  padding: 2px 10px;
  font-size: 10px;
  cursor: pointer;
}

.cancel-all-button {
  background: #2A2E31;
  color: #8E9091;
  border-radius: 4px;
  border: 0;
  outline: none;
  padding: 2px 10px;
  font-size: 10px;
  cursor: pointer;
}

.user-data-table {
  table-layout: fixed;
}

.user-data-table th {
  font-size: 12px;
  padding: 4px;
}

.user-data-table td {
  font-size: 13px;
  white-space: nowrap;
  padding: 4px;
}

.date-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-wallet-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  height: 80%;
  flex-direction: column;
  margin-right: 12px;
}

.enable-wallet-button {
  border: none;
  border-radius: 18px;
  background-color: #FBB03B;
  color: #333;
  padding: 6px 28px;
  font-size: 16px;
  outline: none;
}
