@import "scss/_fonts.scss";
@import "scss/_variables.scss";

// START BOOTSTRAP
// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
// Optional
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
// @import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
// @import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
// @import "~bootstrap/scss/card";
// @import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/jumbotron";
// @import "~bootstrap/scss/alert";
// @import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/close";
// @import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";
// @import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";
// END BOOTSTRAP


html {
    height: 100%;
  
    body {
      height: 100%;
      background-color: $gray-900;

      #root,
      #root > div {
          height: 100%;
      }
    }
}

a,
.btn {
    transition-duration: $link-transition-duration;
    transition-timing-function: $link-timing-function;
}

input[type="radio"],
input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

select.form-control {
    background-color: $gray-300;
    border-color: $gray-300;
    border-width: 0px;
    border-radius: 16px;
    outline: none;
}

.table {
    font-size: $data-font-size;
    line-height: $data-line-height;

    thead {
        font-size: $data-header-font-size;
        vertical-align: middle;
        th {
            position: sticky;
            top: 0;
            background-color: $table-dark-bg;
            font-weight: normal;
            vertical-align: middle;
        }
    }

    tbody {
        td {
            white-space: nowrap;
            vertical-align: middle;
        }
    }
}



.main-container {
    min-height: 92.5vh;

    @media only all and (min-width: map-get($grid-breakpoints, xl)) {
        height: 92.5vh;
    }

    @media only all and (min-width: map-get($grid-breakpoints, lg)) {
        .selected-market-parent,
        .selected-market {
            height: 100%;
        }
    }

    .middle-column {
        .graph-wrapper,
        .order-form-wrapper,
        .user-data-wrapper {
            @media only all and (min-width: map-get($grid-breakpoints, lg)) {
                height: 32%;
            }
        }
    }

}


.nav-tabs {
    text-align: center;

    .nav-item {
        display: flex;
        padding: 1px 2px 1px 2px;
        margin: 0px 1px 0px 1px;

        .nav-link {
            flex-grow: 1;
            color: $body-color;
            background-color: $gray-700;
            border-color: $gray-700;

        }

        .nav-link:hover {
            background-color: darken($gray-700, 10%);
            border-color: $gray-600;
        }

        .nav-link.active {
            color: $nav-tabs-link-active-color;
            background-color: $orange;
            border-color: $orange;
        }

        .nav-link.active:hover {
            background-color: null;
            border-color: null;
        }

    }
}

.navbar {
    .list-group,
    .list-group-item {
        background-color: inherit;
    }
    .header-item-disabled {
        color: $gray-600;
        pointer-events: none;
    }
}

.selected-market {
    .nav-tabs {
        .nav-item {
            width: 31.0%;
        }
    }

    .market-orders-history {
        overflow-y: auto;
        height: 83vh;
    }

    .market-depth {
        height: 80.5vh;
        overflow-y: auto;

        .table {
            margin-bottom: 0px;
            tr, td {
                margin: 0px 0px 0px 0px !important;
                padding: 0px 0px 0px 0px !important;

            }
            min-width: 100%;
            tbody {
                min-width: 100%;
            }
        }

        .depth-line-container {
            background-color: $table-dark-bg;
            display: flex;

            .depth-line {
                background-color: $table-dark-bg;

                height: 1px;
                background-color: #8C8F8B;
                flex: 1;
                margin: 0 10px;
            }
        }
    }

    // .market-depth {
    //     min-width: 100%;

    //     .table {
    //         min-width: 100%;
    //         tbody {
    //             min-width: 100%;
    //         }
    //     }
    // }

    .orderbook {
        overflow-y: auto;
        height: 40vh;
        @media only all and (min-width: map-get($grid-breakpoints, md)) {
            height: 20vh;
        }
        @media only all and (min-width: map-get($grid-breakpoints, lg)) {
            height: 30vh;
        }
        @media only all and (min-width: map-get($grid-breakpoints, xl)) {
            height: 39.5vh;
        }
    }

    .orders-price-change-indicator {
        display: flex;
        height: 10vh;
        @media only all and (min-width: map-get($grid-breakpoints, md)) {
            height: 5vh;
        }
        @media only all and (min-width: map-get($grid-breakpoints, lg)) {
            height: 4vh;
        }
        @media only all and (min-width: map-get($grid-breakpoints, xl)) {
            height: 4vh;
        }
    }
}

.user-data {
    .nav-tabs {
        .nav-item {
            width: 23.50%;
        }
    }

    .user-data-table {
        height: 325px;
        overflow-y: auto;

        .table {
            .cancel-all-button,
            .cancel-button {
                font-size: $data-font-size;
                line-height: $data-line-height;
            }
        }
    }
}

.markets {
    .nav-tabs {
        .nav-item {
            width: 46.5%;
        }
    }
}

.order-form {
    .order-form-header {
        justify-content: left;

        .nav-tabs {
            .nav-item {
                background-color: inherit;
            }
        }

        .order-type-button {
            border: 0;
            background-color: inherit;
            color: $body-color;
            outline: none;
        }
    
        .order-type-button.active {
            border-bottom: 2px solid $orange;
            color: $orange;
        }
    }

    .order-form-body {
        font-size: $alt-font-size;
        line-height: $alt-line-height;

        .form-control:disabled {
            background-color: $gray-600;
            border-color: $gray-600;
        }

        .order-form-balance {
            font-size: $data-font-size;
        }
    }

    .btn-buy {
        background-color: $green;
    }

    .btn-buy:hover {
        background-color: darken($green, 10%);
    }

    .btn-sell {
        background-color: $red;
    }

    .btn-sell:hover {
        background-color: darken($red, 10%);
    }
}

.graph {
    height: 100%;

    .graph-menu-left {
        margin-left: 3px;
    }
    
    .graph-legend-top {
        font-size: $data-font-size;
        padding: 12px;
        color: #A8ACAC;
        padding-left: 60px;
        padding-right: 16px;
    }
    
    .graph-menu-left button {
      border: 1px solid white;
      margin-right: 6px;
      margin-bottom: 6px;
      border-radius: 20px;
      background-color: #5D6162;
      color: #C2C3C3;
      height: 36px;
      width: 36px;
      font-size: 16px;
    }
    
    .graph-container {
      background-color: #292E31;
      border: 1px solid #EDEEED;
      border-radius: 0 12px 12px 0;
      height: 100%;
    }
    
    .graph-legend-top h4 {
        font-size: $data-font-size;
        margin: 0;
        padding-right: 8px;
        padding-left: 8px;
        display: inline-block;
    }
    
    .graph-legend-top div {
        font-size: $data-font-size;
        padding-right: 8px;
        padding-left: 8px;
        text-align: center;
        display:inline-block;
    }
}

.funds {
    .nav-tabs {
        @media only all and (min-width: map-get($grid-breakpoints, xs)) {
            justify-content: left !important;
        }
        // .nav-item {
        //     padding-left: 6px;
        //     padding-right: 6px;
        // }
    }

    .assets-top-header {
        background-color: $gray-600;
        color: $dark;
        margin-left: 1px;
        margin-right: 1px;
        font-size: $alt-font-size;
        line-height: $alt-line-height;

        .search-input {
            font-size: $alt-font-size;
            color: $dark;
            background-color: $gray-500;
        }

        .input-group, .input-group-text {
            font-size: $alt-font-size;
            background-color: $gray-600;
            color: $dark;
            border: 0px;
        }
    }

    .assets-table-wrapper {
        height: 50%;
        overflow-y: auto;
    }

    .table {
        .cancel-all-button,
        .cancel-button,
        .trade-button {
            font-size: $data-font-size;
            line-height: $data-line-height;
        }
    }




      
      
    .question-mark {
        margin-left: 4px;
        margin-top: -2px;
        border-radius: 12px;
        background-color: #B3B3B3;
        color: #4D4D4D;
        font-size: 10px;
        width: 12px;
        text-align: center;
        display: inline-block;
    }
      
    h2 {
        display: inline-block;
        border-bottom: 2px solid $orange;
    }

    h3 {
        display: inline-block;
        font-size: $h5-font-size;
        border-bottom: 2px solid $orange;
    }
      
    .selects-labels {
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
      
    .selects-labels span {
        width: 40%;
        text-align: center;
        margin: 4px;
        font-weight: 300;
    }
      
    // .transfer-selects {
    //     background-color: #666;
    //     border-radius: 18px;
    //     padding: 4px;
    //     width: 90%;
    //     display: flex;
    //     justify-content: space-between;
    //     margin-bottom: 36px;
    // }
      
    // .transfer-details {
    //     width: 87%;
    // }
      
    // .transfer-details div {
    //     margin-bottom: 6px;
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: center;
    // }
      
    // .transfer-details div div:first-child {
    //     margin-right: auto;
    // }
      
    // .transfer-details input {
    //     background-color: #B3B3B3;
    //     border: 1px solid #4D4D4D;
    //     outline: none;
    //     padding: 4px;
    // }
      
    // .transfer-details span {
    //     font-size: 12px;
    //     font-style: italic;
    //     margin-right: 8px;
    // }
      
    // .transfer-button {
    //     width: 90%;
    //     text-align: right;
    //     margin: 10px 0;
    // }
      
    // .transfer-button button {
    //     border: none;
    //     border-radius: 18px;
    //     background-color: #FBB03B;
    //     color: #333;
    //     padding: 6px 28px;
    //     font-size: 16px;
    //     outline: none;
    // }

    .btn-transfer {
        background-color: $green;
    }

    .btn-transfer:hover {
        background-color: darken($green, 10%);
    }
      
    .balances-details {
        font-size: $font-size-base;
    }
      
    .wallet-address span:first-child {
        color: #FBB03B;
    }
      
    .form-amount-error {
        text-align: right;
        color: red;
        font-size: 10px;
        margin-left: auto;
        margin-right: 8px;
    }
      
}

.modal-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: $zindex-modal-backdrop;
}

.account-modal {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //width: auto;
    max-width: $modal-md;
    height: auto;
    z-index: $zindex-modal;

    .metamask-logo {
        width: 48px;
        height: auto;

        @media only all and (min-width: map-get($grid-breakpoints, sm)) {
            width: 64px;
        }
        
    }

    .modal-body {
        font-size: $data-font-size * 0.85;

        @media only all and (min-width: map-get($grid-breakpoints, sm)) {
            font-size: $alt-font-size;
        }

    }

    .modal-title {
        color: $orange;
    }
}

.enable-wallet-button {
    background-color: $green;
}


.search-wrapper {
    display: inline-block;
    position: relative;

    ::placeholder {
        color: $gray-600;
    }

    .search-input {
        border: 0;
        border-bottom: 1px solid $gray-600;
        background-color: inherit;
        color: inherit;
        outline: none;
        padding-left: 28px;
        width: 70%;
        min-height: 26px;
      }
      
      .search-icon {
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: 1;
        width: 16px;
        height: auto;
        fill: $gray-600;
      }
}
// .main-grid {
//   display: grid;
//   /* grid-template-columns: 1fr [start] minmax(450px, 460px) [middle] minmax(400px, 800px) minmax(450px, 460px) [end] 1fr; */
//   grid-template-columns: 1fr [start] minmax(350px, 360px) [middle] minmax(800px, 1200px) minmax(350px, 360px) [end] 1fr;
//   grid-template-rows: 90px [top] 300px 236px 300px [bottom] 1fr;
// }

// .selected-market {
//   grid-row: span top / bottom;
//   grid-column: 2;
// }

// .graph {
//   grid-row: 2;
//   grid-column: middle;
//   display: flex;
//   padding: 6px;
// }

// .order-form {
//   grid-row: 3;
//   grid-column: middle;
//   padding: 0 10px;
//   height: fit-content;
// }
// .user-data {
//   grid-row: 4;
//   grid-column: middle;
// }
// .markets {
//   grid-row: span top / bottom;
//   grid-column: 4;
// }
// .funds {
//   grid-row: span top / bottom;
//   grid-column: span start / end;
// }

// .main-tab {
//   background-color: #0B1013;
//   border-radius: 12px;
//   margin: 3px;
//   display: flex;
//   flex-direction: column;
// }
// .main-tab-funds {
//   margin: 13px;
// }

// .logo {
//   height: 80px;
//   margin-right: auto;
// }

// .menu-icon {
//   width: 24px;
//   height: 24px;
//   fill: #C2C3C3;
//   margin: 12px;
//   margin-right: 18px;
// }

// .container {
//   background-color: #292E31;
//   color: #C2C3C3;
//   border-radius: 0 0 12px 12px;
//   margin: 0 6px 6px 6px;
//   flex: 1;
//   display: flex;
//   flex-direction: column;
//   overflow-y: auto;
// }

// .container-inner {
//   background-color: #292E31;
//   border: 1px solid #EDEEED;
//   padding: 1px;
// }

// .container-inner-box {
//   border: 1px solid #EDEEED;
//   margin: 6px;
//   flex: 1;
// }

// .container th {
//   background-color: #32373A;
//   white-space: nowrap;
//   font-size: 10px;
//   font-weight: 300;
//   padding: 10px;
//   width: 25%;
// }

// .container table {
//   width: 100%;
//   border-spacing: 0;
//   border-collapse: collapse;
// }
// .container td {
//   font-size: 14px;
//   font-weight: 200;
//   padding: 6px;
//   text-align: center;
//   width: 25%;
// }

// .container tr:nth-child(even) {
//   background-color: #32373A;
// }

// .container tr:hover {
//   background-color: #5C6162;
// }

// .container-scroll {
//   overflow-y: auto;
// }
// .container-scroll::-webkit-scrollbar-track {
//   background-color: black;        /* color of the tracking area */
//   width: 22px;
//   border-radius: 20px;       /* roundness of the scroll thumb */

// }
// .container-scroll::-webkit-scrollbar-thumb {
//   background-color: #2A2E31;    /* color of the scroll thumb */
//   border-radius: 20px;       /* roundness of the scroll thumb */
//   border: 2px solid black;  /* creates padding around scroll thumb */
// }
// .container-scroll::-webkit-scrollbar {
//   width: 8px;
//   height: 8px;
//   background-color: #2A2E31; /* or add it to the track */
// }

// .red { color: #C22D38; }
// .green { color: #169A51; }

// .redBG { background-color: #C22D38; }
// .greenBG { background-color: #169A51; }
