@import "variables";

.modal-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: $zindex-modal-backdrop;
}

.account-modal {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //width: auto;
    max-width: $modal-md;
    height: auto;
    z-index: $zindex-modal;

    .metamask-logo {
        width: 48px;
        height: auto;

        @media only all and (min-width: map-get($grid-breakpoints, sm)) {
            width: 64px;
        }
        
    }

    .modal-body {
        font-size: $data-font-size * 0.85;

        @media only all and (min-width: map-get($grid-breakpoints, sm)) {
            font-size: $alt-font-size;
        }

    }

    .modal-title {
        color: $orange;
    }
}
