@import "variables";

.selected-market {
    width: 100%;

    nav {
        width: 100%;
    }

    .nav-tabs {
        .nav-item {
            width: 31.0%;
        }
    }

    // .market-orders-history {
    //     overflow-y: auto;
    //     height: 83vh;
    // }

    // .market-depth {
    //     height: 80.5vh;
    //     overflow-y: auto;

    //     .table {
    //         margin-bottom: 0px;
    //         tr, td {
    //             margin: 0px 0px 0px 0px !important;
    //             padding: 0px 0px 0px 0px !important;

    //         }
    //         min-width: 100%;
    //         tbody {
    //             min-width: 100%;
    //         }
    //     }

    //     .depth-line-container {
    //         background-color: $table-dark-bg;
    //         display: flex;

    //         .depth-line {
    //             background-color: $table-dark-bg;

    //             height: 1px;
    //             background-color: #8C8F8B;
    //             flex: 1;
    //             margin: 0 10px;
    //         }
    //     }
    // }

    // .market-depth {
    //     min-width: 100%;

    //     .table {
    //         min-width: 100%;
    //         tbody {
    //             min-width: 100%;
    //         }
    //     }
    // }

    .orderbook,
    .market-depth,
    .market-orders-history {
        overflow-y: auto;
        height: 35vh;
    }

    .orders-price-change-indicator,
    .depth-line-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .market-depth {
        .table {
            margin-bottom: 0;
            tr, td {
                margin: 0 !important;
                padding: 0 !important;

            }
        }

        .depth-line-container {
            background-color: $table-dark-bg;
        }
    }

    .market-orders-history {
        width: 100%;
    }

    @media only all and (min-width: map-get($grid-breakpoints, md)) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .orderbook,
        .market-depth {
            display: inline-block;
            width: 50%;
        }

        .orderbook-sell-orders,
        .market-depth-sell {
            order: 1;
        }
    
        .orders-price-change-indicator,
        .depth-line-container {
            order: 3;
        }
    
        .orderbook-buy-orders,
        .market-depth-buy {
            order: 2;
        }
    }

    @media only all and (min-width: map-get($grid-breakpoints, xl)) {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: initial;

        .orderbook,
        .market-depth,
        .market-orders-history {
            display: block;
            width: 100%;
            flex: 1 1 auto;
        }

        .orderbook-sell-orders,
        .market-depth-sell {
            order: 1;
        }
    
        .orders-price-change-indicator,
        .depth-line-container {
            order: 2;
            flex: 0 1 auto;
        }
    
        .orderbook-buy-orders,
        .market-depth-buy {
            order: 3;
        }
    }
}